
    <div _ngcontent-axp-c154="" class="card appliances-grp ng-star-inserted">
        <div _ngcontent-axp-c154="" class="body clearfix">
            <div _ngcontent-axp-c154="" class="icon"><img _ngcontent-axp-c154="" alt=""
                    src="{{device.icon}}"></div>
            <div _ngcontent-axp-c154="" class="content">
                <h6 _ngcontent-axp-c154="">{{device.name}} <span _ngcontent-axp-c154=""
                        class="text-success">{{device.status}}</span>
                </h6>
                <p _ngcontent-axp-c154="" class="ng-star-inserted">Temprature <span _ngcontent-axp-c154=""
                        class="text-primary">{{device.temperature}}° C</span></p>
                <p _ngcontent-axp-c154="" class="ng-star-inserted">Status <span _ngcontent-axp-c154=""
                        class="text-warning">Cooling On</span></p><!---->
            </div>
        </div>
    </div>
